@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.logospace{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  justify-content: center;
  color: white;
  position : fixed;
  background: linear-gradient(to right bottom, #004E95 50%,#013A6B 50%);
}
.logo{
    font-size: 40px;
    border: 3px solid white;
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px white;
    text-shadow: 1px 1px black;
}
.companyname{
    font-size: 30px;
}
.up{
    margin-top: 90px;
    margin-bottom: 5px;
    background-color: white;
    padding: 10px;
    font-size: 15px;
   margin-left: 10px;
}
.up:hover{
    cursor: pointer;
    background: linear-gradient(to right bottom, #004E95 50%,#013A6B 50%);
    color:white;
    text-decoration: none;
}
.uplink{
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpop{
    border: 2px solid black ;
    width: 30%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  margin-bottom: 5%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(192, 181, 181);
  text-align: center;
  min-width: 400px ;
  min-height: 300px;
  
}
div p{
    font-size: 20px;
    margin-top: 4% ;
    font-family: 'Noto Sans JP', sans-serif;
    color: #004E95;
}
.form{
    margin: 20px;
}
div form div input{
    width: 80%;
    padding: 2%;
    margin: 3%;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
    box-shadow: 1px 1px 5px grey;
    font-size: 15px;
}
div form span input{
    margin-bottom: 10px;
}
div form span input:hover{
    cursor: pointer;
}
div form span label:hover{
    cursor: pointer;
}
.signup{
    color: black;
}
.login{  
    background: linear-gradient(to right bottom, #004E95 50%,#013A6B 50%); 
    color: white;
}
.submit{
    width: 20%;
    margin-top:2%;
    margin-bottom: 5%;
    height: 30px;
    font-size: 15px;
    color: white;
    background: linear-gradient(to right bottom, #004E95 50%,#013A6B 50%);
    box-shadow: 2px 2px grey;
}
.submit:hover{
    cursor: pointer;
    box-shadow: none;
}
.bottom{
    background: linear-gradient(to right bottom, #004E95 50%,#013A6B 50%);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    position: absolute;
    bottom: 0;
}
a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 2%;
}
a:hover{
    text-decoration: underline;
}